= nested_form_for [@test,@question]  do |f|
	.form-group
		= f.label "Question content"
		= f.text_field :content , required: true , class: "form-control"
	- if !@create
		= f.fields_for :anserws do |anserw_f|
			.form-group.well.well-sm
				= anserw_f.label "Anserw content"
				= anserw_f.text_field :content , class: "form-control"
				%link_to= anserw_f.link_to_remove "Remove this anserw"
				= anserw_f.label "Correct"
				= anserw_f.check_box :correct
		
		%p= f.link_to_add "Add anserw" , :anserws
	= f.submit "Save" , class: "btn btn-primary"