.row
  .col-md-8
    .well{}
      %h1 Welcome in e-learning website
      %h2 Currently available:
      %h1
        %span.label.label-primary= pluralize(@courses.count,"course")
      %h1
        %span.label.label-success= pluralize(@lessons,"lesson")
    %div= will_paginate @activities
    %div= render_activities(@activities, layout: :activity)
    %div= will_paginate @activities
