.row
  .col-md-8
    .panel-group
      .panel.panel-default
        .panel-heading
          = @course.title
        .panel-body
          = @course.description
        .panel-footer
          %span
            = course.edit_link
            = course.destroy_link
      .well
        = render "comment_form"
      .well
        =render "all_comments"
       
  .col-md-4
    .panel.panel-default
      .panel-heading
        Lessons
        %span.pull-right
          = course.lessonsCount
      %div
        = course.renderLessons
      .panel-footer
        = course.newLessonLink