%span Document
%strong= link_to activity.trackable.title, activity.trackable.attached_doc.url
%span in lesson
%span= link_to activity.trackable.lesson.title, [activity.trackable.lesson.course, activity.trackable.lesson]
%span in course
%span= link_to activity.trackable.lesson.course.title, activity.trackable.lesson.course
%span has been edited by
%span= link_to "#{activity.owner.displayName}.", activity.owner